# OPIM 3203 - Assignment 4

Instruction and Objective
-	This is Assignment 4 of OPIM 3203.
- There is one file you need to download from the HuskyCT course website: the starter netid_assignment4_fall2023.ipynb file (this file), which also includes all instructions.
- You will be asked to conduct data manipulations and analysis on us_states_covid19_daily_2021.csv and us_counties_covid19_daily_2021.csv. us_states_covid19_daily_2021.csv stores data about COVID-19 in different states of the U.S. in 2021; us_counties_covid19_daily_2021.csv stores data about COVID-19 of the U.S. at a county level in 2021.
- us_states_covid19_daily_2021.csv can be accessed through the link: https://drive.google.com/uc?id=1qX1uJVkJufoyVbS9ix-6CwHC_BbECm64 ; us_counties_covid19_daily_2021.csv can be accessed through the link: https://drive.google.com/uc?id=1BRPNJuD0dXcBk95E2jPYgkNcA4W_3iUS ; They have been edited and their data were collected from https://github.com/nytimes/covid-19-data/
- You need to edit this .ipynb file in Google Colab (or your own Python programming environment), replace '...', and then insert your code. Your code must be executable for the grader. Therefore, please make sure to wipe out '...' before you insert your code.
- You don't need to add any Python comments in code cells to explain your code.
- In some cells of this file, you will be asked to insert some results after you run the code you inserted. Again, please first remove '...' and then insert your results.
- At the end of this file, you will be asked to rename this .ipynb file with netid appropriately replaced. Please upload the renamed file with your code and results to the HuskyCT course website.
-	If you do not know how to complete one of the steps, try to complete the rest of the assignment using the data you have.
-	You are welcome to use any resource to help you complete the assignment.
-	Total points: 100 points + 3 bonus points

## For question 1 and question 2, please use and work on **us_states_covid19_daily_2021.csv** that can be accessed through the link: https://drive.google.com/uc?id=1qX1uJVkJufoyVbS9ix-6CwHC_BbECm64

### Question 1. (22 points in total) Reading and exploring the COVID-19 data at the US state level

Question 1 contains tasks 1a through 1e that you need to complete.

In [ ]:
# 1a. (4 points) Write Python code in this code cell to import the pandas and NumPy libraries.
# Also run this code cell after the code is completed
# to make sure that the libraries are imported.

import pandas as pd
import numpy as np

In [ ]:
# 1b. (4 points) Write Python code in this code cell
# to use the pandas library to read the content from the csv file,
# us_states_covid19_daily_2021.csv, which can be downloaded through the link:
# https://drive.google.com/uc?id=1qX1uJVkJufoyVbS9ix-6CwHC_BbECm64
# and assign the content of the file to a DataFrame variable called df.

# Also run this code cell after the code is completed
# so that the desired DataFrame gets the data from the csv file.
# And make sure that you execute the code cell above about importing the pandas library
# before running this code cell.

link_states_data = 'https://drive.google.com/uc?id=1qX1uJVkJufoyVbS9ix-6CwHC_BbECm64'
df = pd.read_csv(link_states_data)

In [ ]:
# 1c. (4 points) Write Python code in this code cell
# to show the first 5 rows of the DataFrame df.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cell above about generating the DataFrame df
# before running this code cell.

df.head()

         DATE  MONTH  DAY  YEAR       STATE    CASES  DEATHS
0  2021-01-01      1    1  2021     Alabama   365747    4872
1  2021-01-01      1    1  2021      Alaska    46740     198
2  2021-01-01      1    1  2021     Arizona   530267    9015
3  2021-01-01      1    1  2021    Arkansas   229442    3711
4  2021-01-01      1    1  2021  California  2345811   26236

In [ ]:
# 1d. (6 points) Write Python code in this code cell
# to show the total number of rows and columns in the DataFrame df.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# before running this code cell.

df.shape

(20176, 7)

In [ ]:
# Your result
# The DataFrame df has 20176 rows and 7 columns

In [ ]:
# 1e. (4 points) Write Python code in this code cell
# to show the column names of the DataFrame df.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# before running this code cell.

df.columns

Index(['DATE', 'MONTH', 'DAY', 'YEAR', 'STATE', 'CASES', 'DEATHS'], dtype='object')

### Question 2. (52 points in total) Manipulating the COVID-19 data at the US state level

Question 2 contains tasks 2a through 2i that you need to complete.

In [ ]:
# 2a. (8 points) You can see that the column names of the DataFrame df are all in uppercase.
# Write Python code in this code cell
# to change all of the column names to lowercase for the DataFrame df,
# and then show the updated column names of the DataFrame df.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# before running this code cell.

cols = df.columns
cols_new = [x.lower() for x in cols]
df.columns = cols_new
df.columns

Index(['date', 'month', 'day', 'year', 'state', 'cases', 'deaths'], dtype='object')

In [ ]:
# 2b.(4 points) Write Python code in this code cell
# to show all the unique state names in the data stored in the DataFrame df
# (hint: you can use the unique() method).

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# and changing all of its column names to lowercase
# before running this code cell.

unique_states = df['state'].unique()
unique_states

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming',
       'American Samoa'], dtype=object)

In [ ]:
# 2c. (4 points) Write Python code in this code cell
# to generate a new DataFrame, called df_ct, from the DataFrame df
# to keep only those records related to Connecticut.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# and changing all of its column names to lowercase
# before running this code cell.

mask_ct = df['state'] == 'Connecticut'
df_ct = df[mask_ct]
df_ct

             date  month  day  year        state   cases  deaths
6      2021-01-01      1    1  2021  Connecticut  185708    5995
61     2021-01-02      1    2  2021  Connecticut  190120    6099
116    2021-01-03      1    3  2021  Connecticut  190120    6099
171    2021-01-04      1    4  2021  Connecticut  194636    6168
226    2021-01-05      1    5  2021  Connecticut  196968    6192
...           ...    ...  ...   ...          ...     ...     ...
19903  2021-12-27     12   27  2021  Connecticut  489211    9103
19959  2021-12-28     12   28  2021  Connecticut  494964    9156
20015  2021-12-29     12   29  2021  Connecticut  502484    9161
20071  2021-12-30     12   30  2021  Connecticut  510188    9160
20127  2021-12-31     12   31  2021  Connecticut  510188    9160

[365 rows x 7 columns]

In [ ]:
# 2d. (6 points) Write Python code in this code cell
# to use the DataFrame df_ct
# and get the total number of cases and deaths of Connecticut by the last day of 2021
# (i.e., in the format '2021-12-31' representing the date of December 31, 2021).

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df_ct
# before running this code cell.

mask_ct_last_day = df_ct['date'] == '2021-12-31'
df_ct[mask_ct_last_day]

             date  month  day  year        state   cases  deaths
20127  2021-12-31     12   31  2021  Connecticut  510188    9160

In [ ]:
# Your result
# By the last day of 2021, the total number of cases in Connecticut is 510188
# By the last day of 2021, the total number of deaths in Connecticut is 9160

In [ ]:
# 2e. (8 points) Write Python code in this code cell
# to get the total number of cases and deaths of Massachusetts by the last day of 2021.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# and changing all of its column names to lowercase
# before running this code cell.

mask_ma_last_day = (df['state'] == 'Massachusetts') & (df['date'] == "2021-12-31")
df[mask_ma_last_day]

             date  month  day  year          state    cases  deaths
20143  2021-12-31     12   31  2021  Massachusetts  1140614   20273

In [ ]:
# Your result
# By the last day of 2021, the total number of cases in Massachusetts is 1140614
# By the last day of 2021, the total number of deaths in Massachusetts is 20273

In [ ]:
# 2f. (6 points) Write Python code in this code cell
# to get the total number of cases and deaths of Rhode Island by the last day of 2021.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# and changing all of its column names to lowercase
# before running this code cell.

mask_ri_last_day = (df['state'] == 'Rhode Island') & (df['date'] == "2021-12-31")
df[mask_ri_last_day]

             date  month  day  year         state   cases  deaths
20163  2021-12-31     12   31  2021  Rhode Island  231096    3066

In [ ]:
# Your result
# By the last day of 2021, the total number of cases in Rhode Island is 231096
# By the last day of 2021, the total number of deaths in Rhode Island is 3066

In [ ]:
# 2g. (6 points) Write Python code in this code cell
# to get those states with the total number of cases greater than 1500000 by the last day of 2021.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# and changing all of its column names to lowercase
# before running this code cell.

mask_cases_last_day = (df["cases"] > 1500000) & (df['date'] == "2021-12-31")
df_cases_20201231_query = df[mask_cases_last_day]
df_cases_20201231_query["state"]

20125        California
20130           Florida
20131           Georgia
20135          Illinois
20144          Michigan
20152        New Jersey
20154          New York
20155    North Carolina
20158              Ohio
20161      Pennsylvania
20167             Texas
Name: state, dtype: object

In [ ]:
# 2h. (6 points) Write Python code in this code cell
# to get the states with the total number of deaths less than 5000 by the last day of 2021.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# and changing all of its column names to lowercase
# before running this code cell.

mask_deaths_last_day = (df["deaths"] < 5000) & (df['date'] == "2021-12-31")
df_deaths_20201231_query = df[mask_deaths_last_day]
df_deaths_20201231_query["state"]

20121                      Alaska
20122              American Samoa
20128                    Delaware
20129        District of Columbia
20132                        Guam
20133                      Hawaii
20134                       Idaho
20141                       Maine
20148                     Montana
20149                    Nebraska
20151               New Hampshire
20156                North Dakota
20157    Northern Mariana Islands
20162                 Puerto Rico
20163                Rhode Island
20165                South Dakota
20168                        Utah
20169                     Vermont
20170              Virgin Islands
20175                     Wyoming
Name: state, dtype: object

In [ ]:
# 2i. (4 points) Write Python code in this code cell
# to drop the column year in the DataFrame df.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df
# and changing all of its column names to lowercase
# before running this code cell.

df.drop("year", inplace=True, axis=1)

In [ ]:
df.columns

Index(['date', 'month', 'day', 'state', 'cases', 'deaths'], dtype='object')

## For question 3 and question 4, please use and work on **us_counties_covid19_daily_2021.csv** that can be accessed through the link: https://drive.google.com/uc?id=1BRPNJuD0dXcBk95E2jPYgkNcA4W_3iUS

### Question 3. (12 points in total) Reading and exploring the COVID-19 data at the US county level

Question 3 contains tasks 3a through 3d that you need to complete.

In [ ]:
# 3a. (2 points) Write Python code in this code cell
# to use the pandas library to read the content from the csv file,
# us_counties_covid19_daily_2021.csv, which can be downloaded through the link:
# https://drive.google.com/uc?id=1BRPNJuD0dXcBk95E2jPYgkNcA4W_3iUS
# and assign the content of the file to a DataFrame variable called df2.

# Also run this code cell after the code is completed
# so that the desired DataFrame gets the data from the csv file.
# And make sure that you execute the code cell above about importing the pandas library
# before running this code cell.

link_counties_data = 'https://drive.google.com/uc?id=1BRPNJuD0dXcBk95E2jPYgkNcA4W_3iUS'
df2 = pd.read_csv(link_counties_data)

In [ ]:
# 3b. (2 points) Write Python code in this code cell
# to show the first 5 rows of the DataFrame df2.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df2
# before running this code cell.

df2.head()

         DATE  MONTH  DAY  YEAR   COUNTY    STATE  CASES  DEATHS
0  2021-01-01      1    1  2021  Autauga  Alabama   4239    50.0
1  2021-01-01      1    1  2021  Baldwin  Alabama  13823   169.0
2  2021-01-01      1    1  2021  Barbour  Alabama   1517    33.0
3  2021-01-01      1    1  2021     Bibb  Alabama   1854    46.0
4  2021-01-01      1    1  2021   Blount  Alabama   4693    63.0

In [ ]:
# 3c. (4 points) You can see that the column names of the DataFrame df2 are all in uppercase.
# Similar to the task 2a above, write Python code in this code cell
# to change all of the column names to lowercase for the DataFrame df2,
# and then show the updated column names of the DataFrame df2.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df2
# before running this code cell.

cols = df2.columns
cols_new = [x.lower() for x in cols]
df2.columns = cols_new
df2.columns

Index(['date', 'month', 'day', 'year', 'county', 'state', 'cases', 'deaths'], dtype='object')

In [ ]:
# 3d. (4 points) Write Python code in this code cell
# to generate a new DataFrame, called df2_20211231, from the DataFrame df2
# to keep only those records related to the last day of the year 2021
# (i.e., in the format '2021-12-31' representing the date of December 31, 2021).

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df2
# and changing all of its column names to lowercase
# before running this code cell.

mask_last_day = df2['date'] == '2021-12-31'
df2_20211231 = df2[mask_last_day]
df2_20211231

               date  month  day  year      county    state  cases  deaths
1182122  2021-12-31     12   31  2021     Autauga  Alabama  11018   160.0
1182123  2021-12-31     12   31  2021     Baldwin  Alabama  39911   593.0
1182124  2021-12-31     12   31  2021     Barbour  Alabama   3860    81.0
1182125  2021-12-31     12   31  2021        Bibb  Alabama   4533    95.0
1182126  2021-12-31     12   31  2021      Blount  Alabama  11256   198.0
...             ...    ...  ...   ...         ...      ...    ...     ...
1185368  2021-12-31     12   31  2021  Sweetwater  Wyoming   8320   107.0
1185369  2021-12-31     12   31  2021       Teton  Wyoming   5950    14.0
1185370  2021-12-31     12   31  2021       Uinta  Wyoming   4154    31.0
1185371  2021-12-31     12   31  2021    Washakie  Wyoming   1879    37.0
1185372  2021-12-31     12   31  2021      Weston  Wyoming   1254    14.0

[3251 rows x 8 columns]

### Question 4. (12 points + 3 bonus points in total) Aggregating the COVID-19 data at the US county level

Question 4 contains tasks 4a through 4c that you need to complete.

In [ ]:
# 4a. (6 points) Write Python code in this code cell
# to use the groupby() method on the DataFrame df2_20211231
# to get information about df2_20211231 at the state level.
# Also print out the total number of records in each state of the DataFrame df2_20211231.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df2_20211231
# before running this code cell.

for group, frame in df2_20211231.groupby('state'):
  num_record = len(frame)
  print(str(num_record) + ' record(s) in group ' + str(group))

67 record(s) in group Alabama
28 record(s) in group Alaska
1 record(s) in group American Samoa
16 record(s) in group Arizona
76 record(s) in group Arkansas
58 record(s) in group California
64 record(s) in group Colorado
9 record(s) in group Connecticut
4 record(s) in group Delaware
1 record(s) in group District of Columbia
68 record(s) in group Florida
160 record(s) in group Georgia
1 record(s) in group Guam
6 record(s) in group Hawaii
44 record(s) in group Idaho
103 record(s) in group Illinois
92 record(s) in group Indiana
100 record(s) in group Iowa
105 record(s) in group Kansas
120 record(s) in group Kentucky
65 record(s) in group Louisiana
17 record(s) in group Maine
25 record(s) in group Maryland
15 record(s) in group Massachusetts
84 record(s) in group Michigan
88 record(s) in group Minnesota
82 record(s) in group Mississippi
117 record(s) in group Missouri
56 record(s) in group Montana
94 record(s) in group Nebraska
17 record(s) in group Nevada
11 record(s) in group New Hampshire
22 record(s) in group New Jersey
33 record(s) in group New Mexico
58 record(s) in group New York
100 record(s) in group North Carolina
54 record(s) in group North Dakota
3 record(s) in group Northern Mariana Islands
89 record(s) in group Ohio
78 record(s) in group Oklahoma
36 record(s) in group Oregon
67 record(s) in group Pennsylvania
79 record(s) in group Puerto Rico
6 record(s) in group Rhode Island
46 record(s) in group South Carolina
66 record(s) in group South Dakota
96 record(s) in group Tennessee
254 record(s) in group Texas
30 record(s) in group Utah
15 record(s) in group Vermont
3 record(s) in group Virgin Islands
133 record(s) in group Virginia
39 record(s) in group Washington
55 record(s) in group West Virginia
72 record(s) in group Wisconsin
23 record(s) in group Wyoming

In [ ]:
# 4b. (6 points) Write Python code in this code cell
# to group the DataFrame df2_20211231 by the state name,
# and get the average number of cases of counties for each state in the DataFrame df2_20211231.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df2_20211231
# and importing the libraries such as pandas and numpy
# before running this code cell.

df2_20211231.groupby('state').agg({'cases':[np.average]})

                                 cases
                               average
state
Alabama                   13382.298507
Alaska                     5576.071429
American Samoa               11.000000
Arizona                   86343.000000
Arkansas                   7453.763158
California                95096.775862
Colorado                  14582.140625
Connecticut               56687.555556
Delaware                  45091.500000
District of Columbia      94286.000000
Florida                   61270.470588
Georgia                   11240.606250
Guam                      20576.000000
Hawaii                    18262.666667
Idaho                      7260.045455
Illinois                  20913.184466
Indiana                   13593.097826
Iowa                       5755.010000
Kansas                     4957.142857
Kentucky                   7204.991667
Louisiana                 12749.153846
Maine                      8631.529412
Maryland                  28031.560000
Massachusetts             76040.933333
Michigan                  20313.750000
Minnesota                 11617.636364
Mississippi                6630.939024
Missouri                   8746.239316
Montana                    3531.857143
Nebraska                   3598.478723
Nevada                    29481.235294
New Hampshire             18060.636364
New Jersey                71102.409091
New Mexico                10607.363636
New York                  59896.034483
North Carolina            16855.040000
North Dakota               3226.296296
Northern Mariana Islands   1085.000000
Ohio                      22652.752809
Oklahoma                   9088.948718
Oregon                    11701.750000
Pennsylvania              30394.388060
Puerto Rico                3872.215190
Rhode Island              38516.000000
South Carolina            21202.608696
South Dakota               2715.212121
Tennessee                 14374.135417
Texas                     18011.342520
Utah                      21238.133333
Vermont                    4296.466667
Virgin Islands             3018.333333
Virginia                   8409.909774
Washington                21867.282051
West Virginia              5966.581818
Wisconsin                 15564.847222
Wyoming                    5027.739130

In [ ]:
# 4c. (3 bonus points) Write Python code in this code cell
# to group the DataFrame df2_20211231 by the state name,
# and get the total number of deaths of counties,
# as well as the average number of deaths of counties,
# for each state in the DataFrame df2_20211231.

# Also run this code cell after the code is completed.
# Make sure that you execute the code cells above about generating the DataFrame df2_20211231
# and importing the libraries such as pandas and numpy
# before running this code cell.

df2_20211231.groupby('state').agg({'cases':[np.sum]})
df2_20211231.groupby('counties').agg({'deaths':[np.average]})

KeyError: ignored

## Question 5. (2 points in total) Submitting your work

Question 5 contains task 5a that you need to complete.

In [ ]:
# 5a. (2 points) Save your file as aaa00000_assignment4_fall2023.ipynb (where aaa00000 is your NetID).
# Go back to Assignment 4 in the HuskyCT course website.
# Please submit your completed file to HuskyCT to finish your assignment.